body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.header img {
    height: 100px;
}
.header div {
    text-align: right;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
button {
    background-color: #666;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.monthly-view td {
    height: 80px;
    text-align: center;
}
.weekly-view td {
    height: 160px;
    text-align: center;
}
table {
    width: 100%;
    color: #fff;
    border-color: #999;
}
th {
    background-color: #555;
}
th:first-child,
th:last-child {
    color: red;
}
.today {
    background-color: #8ca3a3;
}